.action {
  padding-top: 110px;
  padding-bottom: 154px;
  background-color: $accent-color;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__text {
    max-width: 570px;
    line-height: 24px;
    padding-left: 104px;
    background-image: url(../images/agency/icon-write.png);
    background-repeat: no-repeat;
    background-size: 69px;
    background-position: top left;
    font-size: 0.9375rem;
  }
}
