.contact {
  background-image: url(../images/contact/contact_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 220px;
  padding-bottom: 100px;
}

.section-title--contact {
  margin-bottom: 140px;
  &:before {
    content: 'C';
    color: rgba(255, 255, 255, 0.18);
  }
}

.contact__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact__form-input,
.contact__form-message {
  font-size: 12px;
  line-height: 20px;
  border: 1px solid #808080;
  background-color: transparent;
  color: $main-color;
}

.contact__form-input {
  flex-basis: calc(33.333% - 20px);
  height: 48px;
  padding-left: 20px;
}

.contact__form-input::placeholder,
.contact__form-message::placeholder {
  color: $main-color;
}

.contact__form-message {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  height: 148px;
  padding-left: 18px;
  padding-top: 14px;
  resize: none;
}

.contact__form-input:required:focus,
.contact__form-message:required:focus {
  outline: none;
}

.contact__form-input:required:focus:valid:not(:placeholder-shown),
.contact__form-message:required:focus:valid:not(:placeholder-shown) {
  border-color: green;
}

.contact__form-input:required:focus:invalid:not(:placeholder-shown),
.contact__form-message:required:focus:invalid:not(:placeholder-shown) {
  border-color: red;
}

.contact__form-input,
.contact__form-message {
  margin-bottom: 40px;
}

.contact__form-btn {
  font-family: 'Gotham Medium', sans-serif;
  font-size: rem(24);
  border: none;
  text-transform: uppercase;
  color: $main-color;
  width: 228px;
  height: 65px;
  cursor: pointer;
  margin: 0 auto;
  background-color: $accent-color;
  &:hover {
    background-color: transparent;
    border: 1px solid #808080;
    transition: 0.2s;
  }
}

.map {
  width: 100%;
  height: 334px;
  border: none;
}
