.footer {
  background-color: #222;
  padding: 40px 6px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-size: rem(13);
  line-height: 36px;
  &__link {
    color: $main-color;
    text-decoration: none;
  }
}
