.team {
  background-color: $main-color;
  padding-top: 140px;
  padding-bottom: 104px;
}

.section-title--team {
  color: #222;
  margin-bottom: 140px;
  &:before {
    content: 'T';
    color: rgba(34, 34, 34, 0.18);
  }
}

.section-subtitle--team {
  color: #222;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-item {
  max-width: 270px;
  position: relative;
  &__box {
    text-align: center;
    font-family: 'Gotham Medium', sans-serif;
    width: 216px;
    background-color: $main-color;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
  }
  &__name {
    font-size: rem(20);
    line-height: 24px;
    color: $accent-color;
    text-transform: uppercase;
    margin-bottom: 8px;
    padding-top: 22px;
  }
  &__position {
    color: #000;
    font-size: rem(15);
    line-height: 24px;
  }
}
