/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../fonts/open-sans-v17-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/open-sans-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('../fonts/open-sans-v17-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/open-sans-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* gotham-bold-700 - latin */
@font-face {
  font-family: 'Gotham Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Gotham-Bold'), local('Gotham-Bold'),
    url('../fonts/gotham-bold.woff2') format('woff2');
}

/* gotham-book-400 - latin */
@font-face {
  font-family: 'Gotham Book';
  font-style: normal;
  font-weight: 400;
  src: local('Gotham-Book'), local('Gotham-Book'),
    url('../fonts/gotham-book.woff2') format('woff2');
}

/* gotham-medium-400 - latin */
@font-face {
  font-family: 'Gotham Medium';
  font-style: normal;
  font-weight: 400;
  src: local('Gotham-Medium'), local('Gotham-Medium'),
    url('../fonts/gotham-medium.woff2') format('woff2');
}

/* myriadpro-regular - latin */
@font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Myriad-Pro-Regular'), local('Myriad-Pro-Regular'),
    url('../fonts/myriadpro-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/myriadpro-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-condensed-bold - latin */
@font-face {
  font-family: 'Roboto Condensed Bold';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto-Condensed-Bold'), local('Roboto-Condensed-Bold'),
    url('../fonts/roboto-condensed-bold.woff2') format('woff2');
  /* Chrome 26+, Opera 23+, Firefox 39+ */
}
